body {
    padding: 0;
    text-align: center;
    background: #eee;

    font-size: 32px;
}
main {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 32px 0;
    padding: 0;
    width: 100vw;
}

footer .sns-share {
    margin: auto;
    padding-left: 16px;
    max-width: 640px;
}

footer a {
    font-size: 24px;
}

footer ul {
    list-style: none;
    padding: 0;
}

.game {
    position: relative;
    margin: auto;
    width: 640px;
    height: 640px;
    background-image: url("../image/bg.png?__WB_REVISION__=0.01");
    background-size: cover;
    overflow: hidden;

    font-family: 'main';
}

/*
    title
*/

.scene.title h1 {
    margin-top: 25%;
}
.scene.title .start {
    margin-top: 30%;
}

.scene.title h1 .title1 {
    color: #222222;

    font-size: 4rem;
    letter-spacing: 1.4;
}

.scene.title h1 .title2 {
    margin-top: .5rem;

    color: #444444;

    font-size: 2rem;
}

/*
    game
*/
.scene.game {
    position: relative;
}
.scene.game .console {
    display: flex;
    justify-content: space-between;
}
.game > .player {
    position: absolute;
    left: 24px;
    bottom: 8px;
    width: 64px;
    height: 128px;
    z-index: 1000;
    background-image: url("../image/player-stand.png?__WB_REVISION__=0.01");

    pointer-events: none;
}
.game > .player.attack {
    background-image: url("../image/player-attack.png?__WB_REVISION__=0.01");
}

.game > .sight {
    position: absolute;
    width: 64px;
    height: 64px;
    z-index: 10000;
    background-image: url("../image/sight.png?__WB_REVISION__=0.01");

    pointer-events: none;
}


.scene.game .console > * {
    padding: .5rem;
}

.scene.game .console > * > label {
    font-size: 2.8rem;
}

.sheep {
    position: absolute;
    width: 192px;
    height: 96px;
    background-image: url("../image/sheep.png?__WB_REVISION__=0.01");

    pointer-events: none;
}

.horn.body {
    position: absolute;
    width: 36px;
    height: 36px;
    background-image: url("../image/horn.png?__WB_REVISION__=0.01");

    pointer-events: none;
}

.horn.shadow {
    position: absolute;
    width: 36px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(0,0,0, .5);

    pointer-events: none;
}

.smoke {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url("../image/smoke.png?__WB_REVISION__=0.01");

    pointer-events: none;
}
